@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #001c22;
}

::-webkit-scrollbar-thumb {
    background-color: #225f42;
    border-radius: 10px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

nav {
    width: 100%;
    padding: 18px;
    background: transparent;
    backdrop-filter: blur(20px);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    z-index: 999;
    transition: background-color 0.4s ease, box-shadow 0.4s ease;
}

nav.scrolled {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.3);
}


nav ul {
    display: flex;
    justify-content: center;
    width: 50%;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
}

nav span {
    font-size: 24px;
    width: 40%;
    display: flex;
    justify-content: center;
    background: linear-gradient(135deg, #00ff88, #00ff88, #87ebff, #87ebff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 300;
}

nav ul li {
    list-style-type: none;
}

nav ul li .icone {
    font-size: 20px;
    transition: 0.3s ease-in-out;
}

nav ul li .icone:hover {
    background: linear-gradient(135deg, #00ff88, #87ebff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav ul li a {
    text-decoration: none;
    color: white;
    position: relative;
    transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
    background: linear-gradient(135deg, #00ff88, #87ebff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 0%;
    height: 2px;
    background: linear-gradient(135deg, #00ff88, #87ebff);
    transition: width 0.3s ease-in-out;
}

nav ul li a:hover::after {
    width: 110%;
}

body {
    background: radial-gradient(ellipse 200% 200% at 50% 0%, #143b29, #001c22 25%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

main {
    /* min-height: 100vh; */
    /* width: 100%;
    position: relative; */
}

#inicio_sec {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.inicio_titulo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.inicio_titulo h1 {
    font-size: 80px;
    font-weight: 100;
}

#slogan_text {
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid #00ff88;
    padding-right: 5px;
    background: linear-gradient(135deg, #00ff88, #00ff88, #87ebff, #87ebff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#typing-text {
    font-weight: bold;
}

#typing-animation {
    background: linear-gradient(135deg, #00ff88, #87ebff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: blink 0.75s step-end infinite;
    font-weight: bold;
}

@keyframes blink {

    0%,
    50%,
    100% {
        border-color: transparent;
    }

    25%,
    75% {
        border-color: #00ff88;
    }
}

.inicio_titulo p {
    margin-top: 20px;
    font-size: 15px;
    width: 50%;
}

.inicio_botoes {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 20px;
}

#btn_ver_projetos {
    width: 10%;
    padding: 10px 20px;
    border-radius: 10px;
    background: linear-gradient(135deg, #008245, #0085a0);
    color: white;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

#btn_ver_projetos:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px 1px #008245;
}

#btn_contato {
    width: 10%;
    padding: 10px 20px;
    border-radius: 10px;
    border: 3px solid transparent;
    background-image:
        linear-gradient(#001c22, #001c22),
        linear-gradient(135deg, #008245, #0085a0);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    color: white;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    transition: 0.3s ease-in-out;
}

#btn_contato:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 20px 1px #008245;
}

#sobre {
    min-height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.sobre_titulo h1 {
    font-size: 35px;
    text-align: center;
    background: linear-gradient(135deg, white, rgba(255, 255, 255, 0.8), #004f2a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sobre_titulo p {
    font-size: 15px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

.sobre_card_container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
}

.sobre_card {
    display: flex;
    flex-direction: column;
    width: 78%;
    padding: 40px;
    border-radius: 16px;
    background: radial-gradient(ellipse 200% 200% at 50% 0%, #16412d, #143b2943 25%);
    transition: 0.3s ease-in-out;
}

.sobre_card:hover {
    box-shadow: 0 0 2px 2px #00ff8871;
}

.sobre_card_conteudo {
    display: flex;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.sobre_texto {
    flex: 1;
}

.sobre_icone {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sobre_icone i {
    color: rgba(255, 255, 255, 0.8);
}

.sobre_icone h2 {
    font-size: 15px;
    background: linear-gradient(135deg, #00ff88, #87ebff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sobre_texto p {
    margin-top: 20px;
    text-align: justify;
    line-height: 1.6;
    font-size: 14px;
}

.sobre_foto {
    width: 300px;
    border-radius: 50%;
    border: 3px solid transparent;
    background-image: linear-gradient(#001c22, #001c22), linear-gradient(135deg, #008245, #0085a0);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    transition: 0.3s ease-in-out;
}

.sobre_foto:hover {
    transform: scale(1.01);
    filter: drop-shadow(0 0 20px #008245);
}



#habilidades {
    min-height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.habilidades_titulo h1 {
    font-size: 35px;
    text-align: center;
    background: linear-gradient(135deg, white, rgba(255, 255, 255, 0.8), #004f2a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.habilidades_titulo p {
    font-size: 15px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 5px;
}

.habilidades_container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}

.habilidades_lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.habilidade_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.05);
    padding: 20px;
    border-radius: 10px;
    width: 25%;
    text-align: center;
    transition: 0.3s ease-in-out;
    cursor: default;
}

.habilidade_card i {
    font-size: 40px;
    color: #00ff88;
    margin-bottom: 10px;
}

.habilidade_card p {
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.habilidade_card:hover {
    transform: scale(1.05);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 2px 2px #00ff8871;
}




/* Certificações - Container */
#certificacoes {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

/* Título */
.certificacoes_titulo h1 {
    font-size: 35px;
    text-align: center;
    background: linear-gradient(135deg, white, rgba(255, 255, 255, 0.8), #004f2a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 20px;
}

.certificacoes_titulo p {
    font-size: 15px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 5px;
}

.certificacoes_slider_container {
    background-color: #001c22;
    box-shadow: inset 0px 0px 40px 20px black;
    width: 78%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    border: 1px solid transparent;
    border-radius: 10px;
    background-image: linear-gradient(#001c22, #001c22), linear-gradient(135deg, #008245, #0085a0);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.certificacoes_slider {
    display: flex;
    gap: 100px;
    animation: deslizar 25s linear infinite;
    align-items: center;
    padding: 50px 0;
}

.certificacoes_slider img {
    width: 200px;
    filter: drop-shadow(2px 4px 6px black) opacity(0.8) contrast(120%);
}

/* Animação do Slider */
@keyframes deslizar {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

#projetos_sec {
    min-height: 170vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px;
    width: 100%;
}

.projetos_titulo h1 {
    font-size: 35px;
    background: linear-gradient(135deg, white, white, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8), #004f2a, #004f2a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.projetos_titulo p {
    font-size: 15px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

.projetos_container {
    margin-top: 40px;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.projeto_card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 26%;
    border-radius: 10px;
    background: linear-gradient(135deg, #16412d, #143b2943, #143b2943);
    transition: 0.3s ease-in-out;
}

.projeto_card .projeto_img {
    border: 1px solid #006435;
    width: 100%;
    height: 125px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.devexperience .projeto_img {
    background: radial-gradient(ellipse 200% 200% at 50% 0%, #0f3a6a, #071e39 25%);
}

.spotify .projeto_img {
    background: radial-gradient(ellipse 200% 200% at 50% 0%, #153e2b, #0a1f15 25%);
}

.conectahub .projeto_img {
    background: radial-gradient(ellipse 200% 200% at 50% 0%, #4b1e61, #291036 25%);
}

.conectahub .projeto_img img {
    width: 55%;
}

.historiafoco .projeto_img {
    background: radial-gradient(ellipse 200% 200% at 50% 0%, rgb(74, 65, 53), rgb(46, 41, 33) 25%);
}

.techwoman .projeto_img {
    background: radial-gradient(ellipse 200% 200% at 50% 0%, #611e1e, #361010 25%);
}

.techwoman .projeto_img img {
    width: 80%;
}

.softdev .projeto_img {
    background: radial-gradient(ellipse 200% 200% at 50% 0%, #1e615b, #103634 25%);
}

.softdev .projeto_img img {
    width: 45% !important;
}

.projeto_card .projeto_img img {
    width: 65%;
    filter: drop-shadow(2px 4px 6px black) contrast(120%);
}

.projeto_card .projeto_content {
    padding: 30px;
    width: 100%;
}

.projeto_card .projeto_content h1 {
    font-size: 20px;
    background: linear-gradient(135deg, white, #00ff88, #87ebff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.projeto_card .projeto_content p {
    font-size: 14px;
}

.projeto_card .projeto_btn {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 10px;
}

.projeto_card .projeto_btn a {
    text-align: center;
    width: 35%;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 10px;
    background: linear-gradient(135deg, #008245, #0085a0);
    color: white;
    text-decoration: none;
    position: relative;
    z-index: 1;
    transition: 0.3s ease-in-out;
}

.projeto_card .projeto_btn a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    background: linear-gradient(135deg, #008245, #0085a0);
    filter: blur(12px);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: -1;
}

.projeto_card .projeto_btn a:hover::after {
    opacity: 1;
}

.projeto_card .projeto_btn a:hover {
    transform: translateY(-8px);
}


#contato {
    min-height: 120vh;
    padding: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contato-titulo {
    text-align: center;
}

.container-contato {

    width: 70%;
}

.contato-titulo h2 {
    font-size: 36px;
    margin-bottom: 15px;
    background: linear-gradient(135deg, white, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8), #004f2a, #004f2a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contato-titulo p {
    font-size: 16px;
    margin-bottom: 40px;
    color: rgba(255, 255, 255, 0.5);
}

/* Layout do formulário e informações lado a lado */
.contato-content {
    display: flex;
    justify-content: center;
    gap: 40px;
}

/* Formulário */
.form-contato {
    width: 78%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group label {
    margin-bottom: 5px;
    font-weight: 500;
}

.input-group input,
.input-group textarea {
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.05);
    color: white;
    transition: 0.3s;
}

.input-group input:focus,
.input-group textarea:focus {
    outline: 2px solid #00ff88;
    background-color: rgba(0, 255, 136, 0.1);
}

button[type="submit"] {
    padding: 15px;
    background: linear-gradient(135deg, #008245, #0085a0);
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

button[type="submit"]::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    background: linear-gradient(135deg, #008245, #0085a0);
    filter: blur(5px);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: -1;
}

button[type="submit"]:hover::after {
    opacity: 1;
}

button[type="submit"]:hover {
    transform: translateY(-3px);
}

/* Informações de contato */
.contato-info {
    /* flex: 0.4;
    min-width: 250px;
    text-align: left; */
    color: rgba(255, 255, 255, 0.5);
}

.contato-info h3 {
    font-size: 24px;
    margin-bottom: 20px;
    background: linear-gradient(135deg, #00ff88, #87ebff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contato-info p {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.contato-socials {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.contato-socials a {
    font-size: 24px;
    color: #00ff88;
    transition: 0.3s;
}

.contato-socials a:hover {
    color: #87ebff;
    transform: scale(1.2);
}

.footer_divisor {
    border: 1px solid transparent;
    width: 80%;
    border-radius: 50%;
    background-image: linear-gradient(#001c22, #001c22), linear-gradient(135deg, #008245, #0085a0);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    margin: 0 auto;
}

footer {
    padding: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

footer div {
    width: 78%;
}

footer #direitos {
    color: rgba(255, 255, 255, 0.5);
}

/* Estados iniciais */
.section {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s ease-out;
}

/* Estado visível */
.section.visible {
    opacity: 1;
    transform: translateY(0);
}